<div>
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <ng-content select="h3"></ng-content>
    <label for="email">
      Email Address
      <input type="text" name="email" ngModel />
    </label>
    <label for="password ">
      Password
      <input type="text" name="password" ngModel />
    </label>
    <ng-content select="app-auth-remember"></ng-content>

    <div *ngIf="showMe | async">
      ngContent did something!
    </div>

    <ng-content select="button"></ng-content>
  </form>
</div>
