<!-- <app-auth-form (submitted)="onSubmit($event)">
  <h3>Login</h3>
  <app-auth-remember (checked)="onChecked($event)"> </app-auth-remember>
  <button type="submit">
    Login
  </button>
</app-auth-form> -->

<!-- <input appCreditCard placeholder="Input example" />

<label tooltip="3 digits, back of your card" #myTooltip="tp">
  Enter your security code
  <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()">
    (?)
  </span>
  <input type="text" />
</label> -->

<div appTest #test="test">Testing...</div>
